*.js linguist-vendored
*.blade.php linguist-vendored
*.php linguist-vendored=false

*.js linguist-detectable=false
*.php linguist-detectable=true
*.blade.php linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
